input {
  border: 2px;
  border-style: solid;
  font-family: "Courier New", Courier, monospace;
  font-size: 250%;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
button {
  border: 2px;
  border-style: solid;
  font-family: "Courier New", Courier, monospace;
  font-size: 250%;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
.radek {
  font-size: 40px;
  padding-right: 5%;
  text-align: right;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  grid-row: 1;
  grid-column: 1/5;
  background-color: #000000;
  color: #ffffff;
}
.calculator {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25% 25% 25%;
  grid-gap: 6%;
  margin: 10% 25% 25% 25%;
}
#equal {
  grid-area: 3/4/7;
}
#ac {
  background-color: #000000;
  color: #ffffff;
}
